<nav class="[ navbar navbar-fixed-top ][ navbar-bootsnipp animate ]" [class.isTransparant]='isTransparant' role="navigation">
  <div class="[ container ] customContainer">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="[ navbar-header ]">
      <button type="button" class="[ navbar-toggle ] collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="../../../assets/images/logo.jpg" alt="Dispute Bills">
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="[ collapse navbar-collapse ]" id="bs-example-navbar-collapse-1">
      <ul class="[ nav navbar-nav navbar-right ]">
        <li class="[ visible-xs ] searchMenu">
          <form action="http://bootsnipp.com/search" method="GET" role="search">
            <div class="[ input-group ]">
              <input type="text" class="[ form-control ]" name="q" placeholder="Search for snippets">
              <span class="[ input-group-btn ]">
                <button class="[ btn btn-primary ]" type="submit">
                  <span class="[ glyphicon glyphicon-search ]"></span>
                </button>
                <button class="[ btn btn-danger ]" type="reset">
                  <span class="[ glyphicon glyphicon-remove ]"></span>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li>
          <a routerLink="/home" class="[ animate ]">Home</a>
        </li>
        <li class="[ dropdown ]">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Profile
            <span class="[ caret ]"></span>
          </a>
          <ul class="[ dropdown-menu ]" role="menu">
            <li>
              <a routerLink="/aboutus" class="[ animate ]">About Us
              </a>
            </li>
            <li>
              <a routerLink="/policy" class="[ animate ]">Infrastructure and Facilities
              </a>
            </li>
            <li>
              <a routerLink='/productportfolio' class="[ animate ]">Awards and Testimonials </a>
            </li>
            <li>
              <a routerLink="/quality" class="[ animate ]">Quality
              </a>
            </li>
            <li>
              <a routerLink='/product-brochure' class="[ animate ]">Company Brochure
              </a>
            </li>
            <li>
              <a routerLink="/site-map" class="[ animate ]">Site Map
              </a>
            </li>
          </ul>
        </li>
        <li class="[ dropdown ]">
          <a class="[ dropdown-toggle ][ animate ]" data-toggle="dropdown">Product Range
            <span class="[ caret ]"></span>
          </a>
          <ul class="[ dropdown-menu ]" role="menu">
            <li *ngFor='let product of _allProductCategories | slice:0:5'>
              <a [routerLink]="['/paintcategorylist', product.c_id]">{{product.c_name}}</a>
            </li>
            <li>
              <a routerLink='/paintcategorylist'>View All</a>
            </li>
          </ul>
        </li>
        <li>
          <a class="animate" routerLink="/contactus">Contact Us</a>
        </li>
        <li class="searchMenu [ hidden-xs ]" (click)="search()">
          <a class="[ animate ]">
            <span class="[ glyphicon glyphicon-search ]"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="[ bootsnipp-search animate ]" [class.open]="isOpened">
    <div class="[ container ]">
      <form action="http://bootsnipp.com/search" method="GET" role="search">
        <div class="[ input-group ]">
          <input type="text" class='form-control seachBox' placeholder="Search By Product Category" aria-label="Number" matInput [formControl]="searchTerm"
          />
          <span class="[ input-group-btn ]">
            <button class="[ btn btn-danger ]" type="reset" (click)="search()">
              <span class="[ glyphicon glyphicon-remove ]"></span>
            </button>
          </span>
        </div>
        <div class='searchResult' *ngIf='searchResult'>
          <a *ngFor="let item of searchResult" class='seachResultItems' [routerLink]="['/paintcategorylist', item.cat_id]" (click)="isOpened = !isOpened">{{item.cat_name}}</a>
        </div>
      </form>
    </div>
  </div>
</nav>
