/*Start Footer */

.footer2 a {
    color: #fff;
}

.footer ul {
    margin-left: -38px;
}

.footer ul li {
    margin-bottom: 5px;
}

.footer ul li a {
    font-size: 18px;
    font-weight: bold;
}

.footer ul a:hover {
    color: dimgrey;
    text-transform: uppercase;
}

.footer2 a:hover,
.footer2 a:focus,
.footer2 a:active {
    color: #FFF;
}

.footer2 .footer {
    padding: 15px 0;
    background: rgba(145, 238, 226, 1);
    background: -moz-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(145, 238, 226, 1)), color-stop(22%, rgba(145, 238, 226, 1)), color-stop(31%, rgba(145, 238, 226, 1)), color-stop(39%, rgba(145, 238, 226, 1)), color-stop(71%, rgba(57, 196, 182, 1)), color-stop(100%, rgba(57, 196, 182, 1)));
    background: -webkit-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -o-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: -ms-linear-gradient(left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    background: linear-gradient(to left, rgba(145, 238, 226, 1) 0%, rgba(145, 238, 226, 1) 22%, rgba(145, 238, 226, 1) 31%, rgba(145, 238, 226, 1) 39%, rgba(57, 196, 182, 1) 71%, rgba(57, 196, 182, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#91eee2', endColorstr='#39c4b6', GradientType=1);
}

.footer2 .footer nav h3 {
    font-size: 14px;
    color: #3A4144;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0 0 10px 0;
    margin: 0 0 0em 0;
}

.footer2 .footer nav h3 span {
    font-weight: 300;
    text-transform: capitalize;
}

.footer2 .footer nav ul li a {
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.footer2 .footer .input-group {
    max-width: 400px;
}

.footer2 .footer .form-control {
    border-radius: 2px 0 0 2px;
    background-color: #585C5D;
    border-color: #585C5D;
    color: #DDD;
}

.footer2 .footer .form-control:hover,
.footer2 .footer .form-control:focus {
    border: 1px solid #222728;
    background-color: #222728;
}

.footer2 .footer .input-group-addon {
    border-radius: 0 2px 2px 0;
    background-color: #F7931D;
    color: #FFF;
    border-color: #F7931D;
}

.footer2 .footer .social {
    margin: 0 auto;
    display: table;
}

.footer2 .footer .social li {
    float: left;
}

.footer2 .footer .social li a {
    display: block;
    font-size: 1em;
    color: #DDD;
    width: 30px;
    height: 30px;
    line-height: 32px;
    padding: 0;
    text-align: center;
    background-color: #222728;
    border-radius: 2px;
    margin: 5px 4px
}

.footer2 .footer .social li a:hover {
    background-color: #3A4144;
}

.footer2 .footer-bottom {
    background-color: #222728;
    padding: 15px 0;
    color: #DDD;
    font-size: 13px;
}

.footer2 .footer-bottom ul li {
    display: inline-block;
}

.footer2 .footer-bottom ul li a {
    display: block;
    padding-left: 8px;
}

.footer2 .footer-bottom ul li a:after {
    content: "-";
    padding-left: 8px;
}

.footer2 .footer-bottom ul li:last-child a:after {
    content: "";
}

@media (max-width: 767px) {
    .footer2 .footer {
        text-align: center;
    }
}

.contactDetails {
    color: #fff;
    font-size: 16px;
    line-height: 22px;
    margin: auto;
}

@media (max-width: 550px) {
    .footer2 .footer-bottom .pull-left,
    .footer2 .footer-bottom .pull-right {
        float: none !important;
        width: 100%;
        padding: 10px;
        text-align: center;
    }
    nav h3 {
        font-size: 14px !important;
        padding-bottom: 10px;
        border-bottom: 2px solid #fff;
        color: #000 !important;
    }
    nav a {
        font-size: 12px;
        margin: 0 !important;
    }
}

.fa-phone::before {
    margin-right: 8px;
    font-size: 20px;
    color: #3A4144;
}


/* End Footer*/