<footer class="footer2" style='margin-top:-5px;'>
  <div class="footer">
    <div class="container">
      <div class="row">
        <nav class="col-md-offset-1 col-md-3 col-sm-4">
          <h3>Our Company
          </h3>
          <ul>
            <li>
              <a routerLink="/aboutus">About Us</a>
            </li>
            <li>
              <a routerLink="/policy">Infrastructure and Facilities</a>
            </li>
            <li>
              <a routerLink='/productportfolio'>Awards and Testimonials</a>
            </li>
            <li>
              <a routerLink="/quality">Quality</a>
            </li>
            <li>
              <a routerLink='/product-brochure'>Company Brochure</a>
            </li>
            <li>
              <a routerLink='/site-map'>Site map</a>
            </li>
          </ul>
        </nav>
        <nav class="col-md-3 col-sm-4">
          <h3>Product Range
          </h3>
          <ul>
            <li *ngFor='let product of _allProductCategories | slice:0:5'>
              <a [routerLink]="['/paintcategorylist', product.c_id]">{{product.c_name}}</a>
            </li>
            <li>
              <a routerLink='/paintcategorylist'>View All</a>
            </li>
          </ul>
        </nav>

        <nav class="col-md-offset-1 col-md-3 col-sm-4 col-xs-12">
          <h3>Green-Touch
          </h3>
          <p class='contactDetails'>
            <span *ngFor="let contactField of _contactDetails">
              {{contactField.name}},
              <br/> {{contactField.street}}, {{contactField.city}} {{contactField.zip}} {{contactField.state}} India.
              <br/>
              <i class="fa fa-phone"> +91 {{contactField.phone}}</i>
            </span>
          </p>
        </nav>
        <nav class="col-md-offset-1"></nav>
      </div>
      <!--/.row-->
    </div>
    <!--/.container-->
  </div>
  <!--/.footer-->

  <div class="footer-bottom">
    <div class="container">
      <div class="pull-right"> Copyright © B2bharat.com, All right reserved.</div>
      <div class="pull-right" style='display:none;'>
        <ul style="margin:0;">
          <li>
            <a href="">
              <span class='glyphicon glyphicon-edit'></span>&nbsp;&nbsp;Send SMS</a>
          </li>
          <li>
            <a href="">
              <span class='glyphicon glyphicon-envelope'></span>&nbsp;&nbsp;Send Email</a>
          </li>
          <li>
            <a href="">
              <span class='glyphicon glyphicon-info-sign'></span>&nbsp;&nbsp;Send Enquiry</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!--/.footer-bottom-->
</footer>
