<section>
  <div class="container" style='margin: 100px auto;'>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 products" *ngFor="let product of _allProductCategories">
        <div class="hovereffect">
          <img class="img-responsive" src="{{product.imgUrl}}" alt="">
          <div class="overlay">
            <h2>{{product.c_name}}</h2>
            <p>
              <a [routerLink]="['/paintcategorylist', product.c_id]">View Details</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>