<div class="container siteMapWrapper">
  <div class="row">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3> Site Map </h3>
      </div>
      <ul class='panel-body'>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink="/home">Home</a>
          </i>
        </li>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink="/aboutus">About Us</a>
          </i>
        </li>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink='/productportfolio'>Product Portfolio</a>
          </i>
        </li>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink="/policy">Policy And Terms</a>
          </i>
        </li>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink="/quality">Quality</a>
          </i>
        </li>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink='/product-brochure'>Company Brochure</a>
          </i>
        </li>
        <li>
          <i class="fa fa-angle-double-right">
            <a routerLink='/contactus'>Contact Us</a>
          </i>
        </li>
      </ul>
    </div>
  </div>
</div>
