.image-aboutus-banner {
  background: url('1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 400px;
}

.aboutusContent {
  font-size: 18px;
  text-align: justify;
  padding: 28px 46px;
  border: 1px solid #ededed;
}

.lg-text {
  color:#0099CC;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 5px;
  text-transform: uppercase;
}
