<div class="container" style="margin-top:100px;">
  <div id="products" class="row list-group">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 products" *ngFor="let product of _productsByCategory">
        <div class="hovereffect">
          <img class="img-responsive" src="{{product.imgUrl}}" alt="">
          <div class="overlay">
            <h2>{{product.cat_name}}</h2>
            <p>
              <a href="">I'm Interested</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>