.image-aboutus-banner {
    background: url('2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top;
    height: 400px;
}

.aboutusContent {
    padding: 28px 46px;
    border: 1px solid #ededed;
    font-size: 18px;
    text-align: justify;
}

.lg-text{
    text-align: center;
    padding-bottom:5px;
    text-transform: uppercase;
    color:#0099CC;
}
