<app-header></app-header>
<div class="container" style="margin-top:110px;margin-bottom:60px;padding:10px;border:1px solid #0099CC;">
  <div class="row">
    <div class="col-md-6 aboutusContent">
      <h3 class="lg-text">Policy</h3>
      <p>We are an ISO 9001:2000 certified organization and hence quality is the prime objective of our organization. Due to
        this, we always strive hard to achieve zero defect production of Paints and Coatings. The raw material used by us
        is Titanium Dioxide, Minerals, Solvents, Alkyd-epoxy-polyurethane Resins And Oils. Our quality controllers stringently
        inspect each and every stage of the production starting from the sourcing of the raw material to the final dispatch
        of the products.
        <br>We use following well defined parameters in ensuring the best range of the Paints and Coatings:
        <br>Durability
        <br>Luster
        <br>Finishing
        <br>Defect free packaging
        <br>We continuously upgrade our technology to enhance the quality of our product and thereby attain maximum client satisfaction.</p>
    </div>
    <div class="col-md-6 aboutusContent">
      <h3 class="lg-text">Terms And Conditions</h3>
      <p>Infrastructure &amp; Facilities We are one of the leading manufacturers and suppliers of Paints and Coatings, which
        is used for various industrial applications. Our range includes Oil Paints, Alkyd Resin, Polyurethane Paints, Thinners,
        Synthetic Enamels, and Quick Drying Paint. We also offer to our clients Epoxy Paints, Stoving Paints, Wood Coating
        Paints &amp; Lacquers, Acid Proof Paint &amp; Lacquers, Epoxy - Coaltar Paints, and Economical Red Oxide Primer.
        These products are developed using high-grade raw material and as per the set industry standards.
        <br>Some of the features for which these paints and coatings are acknowledged in the market are as follows:
        <br>Excellent color retention property
        <br>Good adhesion to ferrous, non-ferrous, plastic &amp; concrete surface
        <br>Scrub and stain resistance
        <br>Alkali &amp; chemical resistance
        <br>Excellent weathering resistance
        <br>Eco-friendly
        <br>High durability
        <br>Washable
        <br>Resistant to bacterial growth
        <br>Retains high gloss level
        <br>Apart from this, we also meet the demands of Petrol Resistance Paints and Chlorinated Rubber Paints.
        <br>Product Portfolio* We are one of the leading manufacturers and suppliers of Paints and Coatings, which is used for
        various industrial applications. Our range includes Oil Paints, Alkyd Resin, Polyurethane Paints,</p>
    </div>
  </div>
</div>
<app-footer></app-footer>