<div class="contact-pageheader" style="margin:50px auto;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="contact-caption">
          <h1 class="contact-title">Don’t Be Shy, Talk to Me.</h1>
          <p class="contact-text">Here is a few approaches to get in touch with me. It would be ideal if you send an email, fill the contact form
            <strong>I'm looking forward to speaking with you.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
        <div class="contact-form">
          <h3 class="contact-info-title">Contact Me</h3>
          <div class="row">
            <form (ngSubmit)="onSubmit()">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only " for="Name"></label>
                  <input id="name" [(ngModel)]='name' name='name' type="text" placeholder="Name" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only " for="email"></label>
                  <input id="email" [(ngModel)]='email' name='email' type="text" placeholder="Email" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                  <label class="control-label sr-only " for="Phone"></label>
                  <input id="phone" [(ngModel)]='phone' name='phone' type="text" placeholder="Phone" class="form-control" required>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
                <div class="form-group">
                  <label class="control-label sr-only" for="textarea"></label>
                  <textarea class="form-control pdt20" [(ngModel)]='message' id="textarea" name="message" rows="4" placeholder="Message"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <input type='submit' value='Send' class="btn btn-primary" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                  <label  class="customLabel text-center" id='statusMessage'></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <agm-map [latitude]="lat" [longitude]="lng" id="contact-map"></agm-map>
      </div>
      <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
        <div class="">
          <h3 class="title-bold">Contact Info</h3>
        </div>
        <div class="contact-section">
          <div class="contact-icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="contact-info">
            <p>Gopal Industrial Enterprises J-290, Near Indrayani Nagar, Bhosari, MIDC </p>
          </div>
        </div>
        <div class="contact-section">
          <div class="contact-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="contact-info">
            <p>+91 8698211118</p>
          </div>
        </div>
        <div class="contact-section">
          <div class="contact-icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="contact-info">
            <p>info@gopalpaints.com</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>