<div class="contact-pageheader" style="margin:50px auto;">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="contact-caption">
          <h1 class="contact-title">Don’t Be Shy, Talk to Me.</h1>
          <p class="contact-text">Here is a few approaches to get in touch with me. It would be ideal if you send an email, fill the contact form
            <strong>I'm looking forward to speaking with you.</strong>
          </p>
        </div>
      </div>
      <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
        <div class="contact-form">
          <h3 class="contact-info-title">Contact Us</h3>
          <div class="row">
            <form [formGroup]='complexForm' (ngSubmit)="submitForm(complexForm.value)">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['name'].valid}">
                  <label class="control-label sr-only " for="Name"></label>
                  <input class="form-control" app-character-only placeholder="Full Name" [formControl]="complexForm.controls['name']">
                  <div *ngIf="complexForm.controls['name'].hasError('required') && complexForm.controls['name'].touched" class="alert-danger">You must include a name.</div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['email'].valid}">
                  <label class="control-label sr-only " for="email"></label>
                  <input class="form-control" type="text" placeholder="Email" [formControl]="complexForm.controls['email']">
                  <div *ngIf="complexForm.controls['email'].hasError('required')  && complexForm.controls['email'].touched" class="alert-danger">You must include a email.</div>
                  <div *ngIf="complexForm.controls['email'].hasError('pattern')  && complexForm.controls['email'].touched" class="alert-danger">You must include a valid email.</div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['phone'].valid}">
                  <label class="control-label sr-only " for="Phone"></label>
                  <input class="form-control" app-number-only placeholder="Phone" [formControl]="complexForm.controls['phone']">
                  <div *ngIf="complexForm.controls['phone'].hasError('required')  && complexForm.controls['phone'].touched" class="alert-danger">You must include a phone number.</div>
                  <div *ngIf="complexForm.controls['phone'].hasError('pattern')  && complexForm.controls['phone'].touched" class="alert-danger">You must include a valid phone number.</div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20">
                <div class="form-group" [ngClass]="{'has-error':!complexForm.controls['message'].valid}">
                  <label class="control-label sr-only" for="textarea"></label>
                  <textarea class="form-control pdt20" rows="4" placeholder="Message" [formControl]="complexForm.controls['message']"></textarea>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <input type='submit' value='Send' class="btn btn-primary" [disabled]="!complexForm.valid" />
              </div>
              <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                <label class="customLabel text-center" id='statusMessage'></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="space-medium">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb60">
        <hr>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
        <agm-map [latitude]="lat" [longitude]="lng" id="contact-map"></agm-map>
      </div>
      <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
        <div class="">
          <h3 class="title-bold">Contact Info</h3>
        </div>
        <div class="contact-section">
          <div class="contact-icon">
            <i class="fa fa-map-marker"></i>
          </div>
          <div class="contact-info">
            <p>
              <span *ngFor="let contactField of _contactDetails">
                {{contactField.name}},{{contactField.street}}, 
                {{contactField.city}} 
                {{contactField.zip}} 
                {{contactField.state}} India.
              </span>
            </p>
          </div>
        </div>
        <div class="contact-section">
          <div class="contact-icon">
            <i class="fa fa-phone"></i>
          </div>
          <div class="contact-info">
            <p>+91 {{ownerPhone}}</p>
          </div>
        </div>
        <div class="contact-section">
          <div class="contact-icon">
            <i class="fa fa-envelope"></i>
          </div>
          <div class="contact-info">
            <p [innerHTML]='ownerMail'></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
